{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href = "{% static 'css/styles.css' %}" rel="stylesheet">
<html>
    <head>
        <title>About</title>
    </head>
    <body>
    <br>
    <br>    
    <div style="text-align: center;" > 
    <em style="font-weight:lighter; text-decoration: underline;">Information</em><br><br>
    <p>
        This Project is used to detect any kind of image, we used a pretrained keras
        model for image recognition, it gives the outputs along with percentages of confidence.
    </p>
    <p>
        Accuracy : 95% | Pre-Trained Model used 35000+ images.
    </p>
    <p>
        <strong> Project Title : AI Project Web Application for Object Identification. </strong>
    </p>
    </div> 
    <br><br> 
    <h1 style="text-align: center;">Group Members</h1>
    <br><br> 
    <div style="text-align: center;" class="row ml-5">
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Aahlad Kethineedi</h5>
              <p class="card-text">17311A1973</p>
              <p class="btn btn-primary">17311A1973@sreenidhi.edu.in</p>
            </div>
        </div>
        </div>
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Sai Vivek Amirishetty</h5>
              <p class="card-text">17311A1986</p>
              <p class="btn btn-primary">17311A1986@sreenidhi.edu.in</p>
            </div>
        </div>
        </div>
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Harish Kurakula</h5>
              <p class="card-text">17311A19A2</p>
              <p class="btn btn-primary">17311A19A2@sreenidhi.edu.in</p>
            </div>
        </div>
        </div>
    </div>
    </body>